<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr />
<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">{{lugar.nombre}}</li>
  </ng-container>
  <hr />
  <ng-container *ngFor="let persona of personas">
      <li *ngIf="persona.edad > 18">{{persona.nombre}}</li>
    </ng-container>
    <hr />
    <ng-container *ngFor="let persona of personas; let i = index">
        <li [ngStyle]="{color: (persona.edad > 18) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}">{{persona.nombre}}</li>
      </ng-container>
</ul>